@model AdoptifySystem.User_
@{
    ViewBag.Title = "ChangePassword";
}

<div id="main">
    <div class="" style="text-align:center;padding-left:120px">
        <h1>Change Password<</h1>
    </div>
 
        @using (Html.BeginForm())
        {
            <input type="text" name="id" value="@Model.UserID" />
            <label for="uname"><strong>Current Password </strong></label>
            <input type="text" class="form-control" id="Current Password " name="Current Password " placeholder="Current Password " required ="required">
            <label for="uname"><strong>New Password</strong></label>
            <input type="text" class="form-control" id="New Password" name="New Password" placeholder="New Password" required ="required">
            <label for="uname"><strong>Confirm New Password</strong></label>
            <input type="text" class="form-control" id="Confirm New Password" name="Confirm New Password" placeholder="Confirm New Password" required ="required">

        }
    @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-primary glyphicon glyphicon-remove-sign" })
    </div>
