
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="main">
    <h2>Generate Reports</h2>

    <div>
        <h3>Generate Employee Timesheet Report</h3>
        <input type="button" class="btn btn-success" value="Generate" onclick="location.href='@Url.Action("EmployeeTimesheet","Report")'" />
    </div>

    <br />
    <br />
    <div>
        <h3>Generate Animal Details Report</h3>
        <input type="button" class="btn btn-success" value="Generate" onclick="location.href='@Url.Action("Animal","AnimalsDetailsReport")'" />
    </div>

    <br />
    <br />
    <div>
        <h3>Generate Vet Appointment Report</h3>
        <input type="button" class="btn btn-success" value="Generate" onclick="location.href='@Url.Action("Index","VetAppointReport")'" />
    </div>
    </div>